CONFIG_TARGET_SABER_SABER2020=y

CONFIG_ENV_VARS_UBOOT_CONFIG=y
CONFIG_DEFAULT_DEVICE_TREE=saber

# ISA
CONFIG_RISCV=y
CONFIG_ARCH_RV32I=y
CONFIG_RISCV_SMODE=y
CONFIG_RISCV_ISA_A=y
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV_ISA_M=n

CONFIG_CPU=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y

# SBI
CONFIG_SBI=y
CONFIG_SBI_V02=y

# Machine
CONFIG_NR_DRAM_BANKS=1

CONFIG_SPI=y
CONFIG_SPI_MEM=y

CONFIG_STACK_SIZE=0x10000

CONFIG_SABER_TV_SERIAL=y